@tailwind base;
@tailwind components;
@tailwind utilities;


@media only screen and (max-width: 1279px) {
    #middle-wrapper {
        display: inline-block
    }

    #general-wrapper {
        display: block;
    }
}

@media only screen and (max-width: 660px) {
    #mobile-support {
        display: block;
    }
}